@import url(https://fonts.googleapis.com/css?family=Roboto:300);

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  text-align: center;
  margin: auto;
  padding-top: 2em;
}
button {
  font-size: inherit;
  padding: .25em;
  margin: .5em;
  background: #fff;
  border: 1px solid;
  border-radius: .3em;
  font-family: "Roboto";
}

.input-style{
  font-size: inherit;
  padding: .25em;
  margin: .5em;
  background: #fff;
  border: 1px solid;
  border-radius: .3em;
  font-family: "Roboto";
}
