@import url(https://fonts.googleapis.com/css?family=Roboto:300);

html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  text-align: center;
  margin: auto;
  padding-top: 2em;
}
button {
  font-size: inherit;
  padding: .25em;
  margin: .5em;
  background: #fff;
  border: 1px solid;
  border-radius: .3em;
}

#question-card-div{
  margin-left: 29%;
}
.question{
  text-align: center;
  background-color: black;
  color: white;
  font-size: 2em;
  font-weight: bolder;
  width: 500px;
  height: 700px;
  border-radius: .75em;
  padding-top: 5em;
  padding-bottom: 5em;
  padding-left: .5em;
  padding-right: .5em;
}
.card-list{
  list-style-type: none;
}
.card-list li{
  display: inline;
}
.card-button{
  width: 300px;
  height: 500px;
}
.input-style{
  font-size: inherit;
  padding: .25em;
  margin: .5em;
  background: #fff;
  border: 1px solid;
  border-radius: .3em;
  font-family: "Roboto";
}

.plain-list {
  list-style: none;
}

#main-console {
  margin: 1rem auto;
  width: 80%;
}

#game-options-div {
  border: 1px solid #666;
  border-radius: .3rem;
}
