@import url(https://fonts.googleapis.com/css?family=Roboto:300);

html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  text-align: center;
  margin: auto;
  padding-top: 2em;
}
button {
  font-size: inherit;
  padding: .25em;
  margin: .5em;
  background: #fff;
  border: 1px solid;
  border-radius: .3em;
}

.input-style{
  font-size: inherit;
  padding: .25em;
  margin: .5em;
  background: #fff;
  border: 1px solid;
  border-radius: .3em;
  font-family: "Roboto";
}

.plain-list {
  list-style: none;
}

#main-console {
  margin: 1rem auto;
  width: 80%;
}

#game-options-div {
  border: 1px solid #666;
  border-radius: .3rem;
}
