<!DOCTYPE html>
<html>

<head>
  <title>Cards Against Humanity</title>
  <link rel="stylesheet" type="text/css" href="./css/app.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>

  <form id="join-form" action="/join" method="POST">
    <label for="name-input" class="label">Name: </label>
    <input id="name-input" class="input-style" name="name" autofocus />
    <label for="game-input" class="label">Game: </label>
    <input id="game-input" class="input-style" name="game" />
    <input type="submit" class="input-style" />
  </form>

</body>


</html>
